body {
	background-color: #0E8047;
	margin: 0px;
}

h1 {
	text-align: center;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
	font-size: 36px;
	color: #FFFFFF;
	background-color: #5F4C0B;
	margin: 0px;
	box-shadow: 0 2px 4px -3px #E6E6E6;
}

#todo_panel {
	padding: 20px;
	width: auto;
}

#todo_list .item {
	list-style-type: none;
	width: 200px;
	height: 210px;
	border: 1px solid #B5B5B5;
	background-color: #FFE4A7;
	margin: 20px;
	padding: 20px;
	padding-top: 40px;
	float: left;
	box-shadow: 2px 1px 3px #E6E6E6;
	font-family: Brush Script MT,cursive;
	font-size: 24px;
}

#todo_list a{
	text-decoration: none;
}

#todo_list .item:hover {
	transition: transform 0.5s ease;
	transform: scale(1.2);
}

#todo_input {
	margin: 20px;
	margin-bottom: 40px;
}

#input_label {
	float: left;
	font-color: #FFFFFF;
	font-size: 18px;
}

#input_todo {
	margin-left: 20px;
	margin-top: 1px;
	float: left;
	width: 500px;
}

#add_todo {
	float: left;
	margin-left: 10px;
}